.genre-btn {
    height: 55px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    /*background-color: var(--secondary);*/
    background-color: pink;
    cursor: pointer;
    transition: 0.4s;
    margin: 3px;
}

.genre-btn:hover {
    background-color: yellow;
    opacity: 1;
    cursor: pointer;
}
