header {
    background-color: var(--primary);
    min-height: 7vh;

}
.username{
    padding-left: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

nav {
    color: var(--white);
    display: flex;
    /*margin: 0 32px;*/
    flex-direction: row;
    justify-content: flex-end;
    border: black 1px solid;

}

.navbar-items {
    /*background-color: purple;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
    color: white;

}

.nav-list {
    /*background-color: yellowgreen;*/
    list-style: none;
    display: flex;
    /*justify-content: flex-end;*/
    flex-direction: row;
    /*padding: 0 10px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/


    /*justify-content: flex-end;*/
}



header .nav-links {
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}