.header {
    background-color: var(--primary);
    min-height: 8.5vh;
}

nav {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a,
nav a:visited,
nav a:active {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary);
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-list {
    display: flex;
    flex-direction: row;
    z-index: 2;
}


header .nav-links {
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    filter: drop-shadow(0 0.25rem 0.25rem var(--black));
}


@media screen and  (max-width: 743px) {
    .navbar-items {
        display: flex;
        flex-direction: column;
    }

    .login-btn {
        font-size: .75rem;
    }
}



/*Showing the username only when it is not in the way*/
@media screen and  (max-width: 900px) {
    /*the username is hidden with less than 901 px by giving it the same color as the */
    .username {
        color: var(--primary);
    }
}

@media screen and (min-width: 901px) {
    /* username is in the middle at a minimum width of 901px*/
    /* z index indicates what layer you are on. since the username is on z1 the buttons and links can still be pushed since they are on z-2*/
    .username {
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
        filter: drop-shadow(0 0.25rem 0.25rem var(--tertiary));

    }
}