nav {
    background-color: #0B5351;
    color: white;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
    color: white;
}
header .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}