.inner-content-container.genre-form {
    padding: 0px;
}

.genre-form__header-text {
    width: 85%;
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
}

.genre-form__form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.genre-form__select {
    list-style: none;
    height: 55px;
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 1.25rem;
    margin: 3px;
    filter: drop-shadow(0 0.10rem 0.10rem var(--black));
}

.genre-form__select:hover {
    background-color: var(--secondary-light);
}

.genre-form__results-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 80%;
}