.result-card {
    display: flex;
    margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
    width: 125px;
    background-color: var(--light-grey);
    border-radius: 5px;
    margin-right: 15px;
    display: block;
    color: transparent;
}

.result-card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-card .info .release-date {
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary);
    margin: 0;
}

.vote-average{
    font-size: 1rem;

}

.result-card .controls button {
    margin-right: 10px;
}

.media-title-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media (min-width: 992px) {
    .media-title-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.media-title-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 0;
    display: block;
}

.media-title-img {
    width: 100%;
    display: block;
    border-radius: 5px;


}

.media-title-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: all 0.1s ease;

}

.media-title-card:hover .overlay {
    width: 100%;
    border: 4px solid var(--secondary);

}

.media-title-card .inner-card-controls {
    display: inline;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--black);
    border-radius: 5px;
    padding: 3px;
    opacity: 0;
    transition: all 0.1s ease;
}

.media-title-card:hover .inner-card-controls {
    opacity: 1;
}

