:root {
    --primary: hsla(174, 61%, 33%, 1);
    --primary-light: hsla(173, 48%, 45%, 1);
    --secondary: hsla(173, 53%, 62%, 1);
    --secondary-light: hsla(204, 68%, 70%, 1);
    --tertiary: hsl(247, 94%, 14%);
    --black: hsl(0, 0%, 16%);
    --white: hsl(0, 0%, 100%);
    --light-grey: HSL(210, 33%, 96%);

    /*fonts*/
    --header-fonts: 'Arial', 'Helvetica Neue', sans-serif;
    --body-fonts: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


main {
    min-height: 85vh;
}

body {
    font-family: var(--body-fonts);
}

h1, h2, h3, h4, h5 {
    font-family: var(--header-fonts);
}

h1 {
    font-size: 2.5rem;
    color: var(--primary);
    text-align: center;
    padding: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;

}
h3{
    padding: 1rem 0 0 0;
    text-align: center;
}

h4, h5{
    font-size: 1.25rem;
}


a,
a:link,
a:visited {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color: var(--secondary);
}

/* The outermost container is always the full screen width. It is a flexbox container that always neatly centers its contents horizontally */

.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*The inner container is up to 1400px wide, so it will look good on wide screens.
It may shrink if the screen becomes less wide, but not grow if there is more space.*/
.inner-content-container {
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::placeholder {
    color: var(--black);
    opacity: 0.5;
}

.media-title {
    font-size: 1.25rem;
    color: var(--tertiary);
    font-weight: 600;
    margin: 0;
}

.filler-poster {
    width: 75px;
    height: 113px;
    background-color: var(--light-grey);
    border-radius: 5px;
    margin-right: 15px;
    display: block;
    color: transparent;

}








